<%= form_tag("/users/#{@user.id}/device/assign", method: "post") do %>
    <p>
    <% if @ip_add && @ip_add.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ip_add.errors.count, "error") %> prohibited this device from being saved:</h2>

          <ul>
            <% @ip_add.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    </p>
    <p>
    <%= label_tag(:name, "Enter Device Name:") %>
    <% if @device %>
      <%= text_field_tag(:name, @device.name, :readonly => true) %>
    <% else %>
      <%= text_field_tag(:name, device_name, :readonly => true) %>
    <% end %>
    </p>

    <p>
    <%= label_tag(:ip_address, "Enter IP Address:") %>
    <%= text_field_tag(:ip_address) %>
    </p>
    <p>
    <%= submit_tag("Assign") %>
    </p>
<% end %>

<%= link_to 'Back', user_devices_path %>