<p id="notice"><%= notice %></p>

<h1>User Devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= link_to 'Assign', "/users/#{@user.id}/device/assign/#{device.id}"%>
        <td><%= link_to 'Show', user_device_path(@user, device) %></td>
        <td><%= link_to 'Edit', edit_user_device_path(@user, device) %></td>
        <td><%= link_to 'Destroy', user_device_path(@user, device),
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_user_device_path(@user) %>