<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %> <br><br>
  <strong>IpAddress:</strong>
    
<%= select_tag :ip_value, options_from_collection_for_select(@device.ip_addresses, :ip_value, :ip_value) %>
</p>



<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>




