<div class = "pwd_reset">
<p id="notice"><%= notice %></p>

<h1>Reset your password</h1>

<%= form_tag("/account/reset_notice", method: "post") do %>
  <div>
    <%= label_tag(:email, "Please enter your email:") %>
    <%= text_field_tag(:email) %>
  </div>

  <div>
    <%= submit_tag("Reset Password") %>
  </div>
<% end %>

<%= link_to 'Back to Home Page',root_path %>
</div>