<div class = "resend_notice">
<p id="notice"><%= sanitize(notice) %></p>
</div>

<h1>Resend Account Activation Link</h1>

<%= form_tag("/account/resend_activation", method: "post") do %>
  <p>
    <%= label_tag(:email, "Please enter your email") %>
    <%= text_field_tag(:email) %>
  </p>
    <%= submit_tag("Resend Activation Link", :id=>"btn") %>
   </p>
<% end %>

<%= link_to 'Back to Home Page',root_path %>
</div>